<h1 class="text-center mt-4">Bienvenue <%= @first_name %></h1>
<%= link_to 'Créer un nouveau potin', new_gossip_path, class: "btn btn-success ms-5" %>

<h2 class="text-center my-5">Voici la liste des potins :</h2>
<div class="d-flex justify-content-between text-center">
  <div class="row">
    <% @gossip.each_slice(3) do |gossips| %>
      <% gossips.each do |gossip| %>
        <div class="d-flex justify-content-center col-md-4 col-sm-6 my-4">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <p class="card-text">Potin n°: <%= gossip.id %></p>
              <h5 class="card-title">Titre: <%= gossip.title %></h5>
              <p class="card-text">Auteur: <%= @user.find(gossip.user_id).first_name %></p>
              <%= link_to 'Voir le potin', gossip_path(gossip), class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
