<h1 class="text-center">Vous voici sur la page du potin n°<%= @show.id %></h1>

<div class="container mt-3">
  <div class="row">
    <div class="col-md-12">
      <h2 class="mb-3">Titre : <%= @show.title%></h2>
      <p class="mb-3">Ce que raconte ce Gossip :</p>
      <div class="card p-3">
        <%= @show.content%>
      </div>
      <br>
      <% date = @show.created_at %>
      <p class="text-muted mt-3">Créé le : <%= date.strftime("%d-%m-%Y à %H:%M") %> par <%= @user.find(@show.user_id).first_name %> <%= @user.find(@show.user_id).last_name %></p>
    </div>
  </div>
</div>

<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <%= link_to "Profil de l'auteur", author_path(@user.find(@show.user_id)), class: "btn btn-primary" %>
    </div>
  </div>
</div>